@model IEnumerable<WebMVC_OrderForm.Models.Product>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3><strong>Home Page</strong></h3>
<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-lg-4">
            <div class="products">
                <div class="products__header">
                    @Html.DisplayFor(modelItem => item.name)
                </div>
                <div class="products__content">
                    <ul>
                        <li>Type: @Html.DisplayFor(modelItem => item.type)</li>
                        <li>
                            @{string price = Convert.ToDecimal(item.price.ToString()).ToString("C0", en-us);}
                            @price
                        </li>
                        <li>
                            @Html.DisplayFor(modelItem => item.color)

                        </li>
                    </ul>
                </div>
                <div class="products__footer">
                    <button>
                        @Html.ActionLink("Add to cart", "../CARTs/Create", new { productID = item.ProductID })
                    </button>
                </div>
            </div>
        </div>
    }
</div>